@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}
.default {
  margin-top: 80px;
  margin-bottom: 100px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

.el-slider__marks-text {
  font-size: 10px !important;
}

.el-slider__bar {
  background-color: #49ab76 !important;
}
.el-slider__button {
  border: 3px solid #49ab76 !important;
  color: #49ab76 !important;
}

.main-greeting {
  position: fixed;
  width: 100%;
  max-width: 425px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 150px;
  padding: 10px 25px 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  /* background-color: #f6c453; */
}

.main-greeting .nickname span {
  font-size: 1.8em;
}

.main-greeting .comment {
  font-size: 1.2em;
}

#navBar {
  position: fixed;
  width: 100%;
  max-width: 425px;
  left: 0;
  right: 0;
  margin: 0 auto;

  z-index: 3;
}

/**
 * = Typography
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Pretendard-Regular";
  font-weight: 400;
}
* {
  font-family: "Pretendard-Regular";
  font-weight: 400;
}
